<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page.</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "Aditi Adya".toUpperCase() %></h3>
    <h3><%= ["hello", "bonjour", "namaste"][0] %></h3>  <!-- accessing 0th element -->
    <h3><%= ["hello", "bonjour", "namaste"][2] %></h3>  <!-- accessing 2nd element -->
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi fuga beatae nobis eaque vero ea ab non quos molestiae odit doloribus soluta, eligendi incidunt reprehenderit animi maiores autem quae et!
    </p>
    <button>Click me!</button>
</body>
</html>